

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size:medium;
    background-color:#778899;
}
h1{
    font-family: cursive,fantasy,Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size:220%;

}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:150%;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:110%;
}
hr{
    color: black;
}
.post{
    border-right: 0px dotted black ;
    border-left: 0px dotted black ;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
border-radius: 10px;
font-family: 'Times New Roman', Times, serif;
font-size: 1.1em;
padding: 5%;
padding-top: 1.5em;
padding-bottom: 1.5em;
margin: 20%;
margin-top: 1.5em;
margin-bottom: 1.5em;
background-color: rgb(250 249 240  );
text-align: justify;
text-indent: 1.5em; /* Отступ первой строки в пикселах */
line-height: 1.5em;
}
#infoR{
float: right;
}
#copyright{
font-size: x-small;
text-align: center;
bottom: 0px;
left: 50%;
}
#postscreen{
width: 100%;
}
.grade{
font-size: 2em;
padding: 20px;
padding-right: 50px;
}
section#skills{
text-align: left;
width: 20%;
display: table-cell;
vertical-align: top;
padding-right: 15px;
  /* border-bottom: 1px dotted black;*/
}
#education{
clear: both;
    margin: 16px 50px 0px 50px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;

}
#quality{
   margin:15px 100px 15px 250px ;


}
section#exp{
    padding: 15px 50px;
margin-left: 280px;
margin-right: 10px;
  border-left: 1px dotted black;
  display: table-cell;
  text-align: left;
}

    .info-parag{
        border-bottom: 1px dotted black;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
    div#menu-block{
        background-color: bisque;
    }
    #menu-block a:link{
        color: red;
        text-decoration: none;

    }
    #menu-block a:visited{
        color: black;
    }
    #menu-block a:hover{
        background-color: #DCDCDC;
        padding: 5px 15px;
border-radius: 20px;
color: blue;
    }
    nav#menu-block{
       background-color: bisque;

        
    }
    nav#menu-block ul{
    padding: 5px;
    font-size: 170%;
    list-style-type: none;
    
    }
    nav#menu-block ul li{
        display: inline;
    }
    span#current-page{
        background-color: cadetblue;
    }
    div#table{
        display: table;
        margin: 15px 10px 15px 350px;

    }
    .tableRow{
        display: table-row;
    }
    div.conteiner{
        display: table-cell;
        vertical-align: top;
        border-spacing: 20px;
    }
    
@media screen and (max-device-width:1280px){
    #exp{
        padding: 15px;
    margin: 3px 30px;
    border-top: 1px dotted black;
    border-left: 0px dotted black;

    }
    div#table{
        display: table;
        margin: 15px 10px 15px 10px;

    }
    #skills{
float: none;
        margin-top: 2px;
        margin-left: 20px;
        margin-right: 20px;
text-align: center;
       
    }

       #skills ul{
            text-align: left;

           
        }
        .info-parag{
            padding: 15px 50px;
        }
        #menu-block{
            margin: 15px 30px;
        }
        .post{
            margin-left: 5px;
            margin-right: 5px;
            padding: 4px;
            border-right: 0px dotted black ;
            border-left: 0px dotted black ;
            border-top: 1px dotted black;
            border-bottom: 1px dotted black;
        }
        #menu-block{
            position:static;
            margin:15px 50px;
        }
        body{
            font-size: 1.3em;
            margin: 15px 0px 15px 0px;
        }
        section#quality{
            margin: auto;
        }
}
