

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size:medium;
    background-color:rgb(255 250 240  );
}
h1{
    font-family: cursive,fantasy,Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size:220%;

}
hr{
    color: black;
}
.post{
    border-right: 0px dotted black ;
    border-left: 0px dotted black ;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
border-radius: 5px;
font-family: 'Times New Roman', Times, serif;
font-size: 1.1em;
padding: 5%;
padding-top: 1.5em;
padding-bottom: 1.5em;
margin: 20%;
margin-top: 1.5em;
margin-bottom: 1.5em;
background-color: rgb(250 249 240  );
text-align: justify;
text-indent: 1.5em; /* Отступ первой строки в пикселах */
line-height: 1.5em;
}
#infoR{
float: right;
}
#copyright{
font-size: x-small;
text-align: center;
bottom: 0px;
left: 50%;
}
#postscreen{
width: 100%;
}
.grade{
font-size: 2em;
padding: 20px;
padding-right: 50px;
}
#skills{
text-align: left;
float: left;
margin-top: 2px;
margin-left: 10px;
padding: 5px 3px;
  /* border-bottom: 1px dotted black;*/
}
#education{
clear: both;
    margin: 16px 50px 0px 50px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}

#exp{
    padding: 15px 50px;
margin-left: 280px;
margin-right: 10px;
  border-left: 1px dotted black;
  
  text-align: left;
}
#allcontent {
    width: 1000px;
    padding:10px ;
    margin-left: auto;
    margin-right: auto;
 
    }
    .info-parag{
        border-bottom: 1px dotted black;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #menu-block{
        position: absolute;
        border: 1px dotted black;
        top: 200px;
        left: 30px;
        width: 130px;
    }
    #menu-block ul{
    padding: 5px;
    
    
    }
@media screen and (max-device-width:1280px){
    #exp{
        padding: 15px;
    margin: 3px 30px;
    border-top: 1px dotted black;
    border-left: 0px dotted black;

    }
    #skills{
float: none;
        margin-top: 2px;
        margin-left: 20px;
        margin-right: 20px;
text-align: center;
       
    }
    #allcontent {
        width: auto;
        padding:10px;
        margin-left: auto;
        margin-right: auto;
        border: 0px solid black;
        }
       #skills ul{
            text-align: left;
            border-right: 1px dotted black ;
            border-left: 1px dotted black ;
           
        }
        .info-parag{
            padding: 15px 50px;
        }
        #menu-block{
            margin: 15px 30px;
        }
        .post{
            margin-left: 5px;
            margin-right: 5px;
            padding: 4px;
            border-right: 0px dotted black ;
            border-left: 0px dotted black ;
            border-top: 1px dotted black;
            border-bottom: 1px dotted black;
        }
        #menu-block{
            position:static;
            margin:15px 50px;
        }
}