
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size:large;
    background-color:rgb(255 250 240  );
}
h1{
    font-family: cursive,fantasy,Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size:220%;

}
.post{
border: 5px inset  rgb(238 240 230  );
border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1em;
    padding: 7em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin: 25em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
background-color: rgb(250 249 240  );
    text-align: justify;
    text-indent: 1.5em; /* Отступ первой строки в пикселах */
    line-height: 1.5em;
   
  
}