
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size:large;
    background-color:rgb(255 250 240  );
}
h1{
    font-family: cursive,fantasy,Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size:220%;
    color: rgb(205, 133, 63) ;
}
.post{
    border-top-color: black;
    border-bottom-color: black;
    border-top-width: 0.01em;
    border-bottom-width: 0.01em;
    border-bottom-style: solid;
    border-top-style: solid;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1em;
    padding: 10em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}